.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.circle {
    transform: translate3D(-50%, -50%, 0);
    border-radius: 50%;
    width: 0;
    aspect-ratio: 1;
    position: absolute;
}
